@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  font-family: "poppings", sans-serif;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: #f9fafb;
  width: 0;
  height: 2px;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.space-font {
  font-family: "Space Grotesk", sans-serif;
}

/* slide */
.slide-btn::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f97316;
  width: 0%;
  transition: 0.3s ease;
}

.slide-btn:hover::before {
  width: 100%;
}

/* products */
.products-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
}

.category-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
}
